<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="loggingLevelRoot" source="logging.level.root"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <version/>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                    <pattern>
                        {
                        "appName": "${springAppName:-}",
                        "pid": "${PID:-}",
                        "traceId": "%X{traceId:-}",
                        "spanId": "%X{spanId:-}",
                        "thread": "%thread",
                        "level": "%level",
                        "logger": "%logger",
                        "action": "%X{action:-}",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>50</maxDepthPerThrowable>
                        <maxLength>2000</maxLength>
                        <shortenedClassNameLength>100</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <inlineHash>true</inlineHash>
                    </throwableConverter>
                </stackTrace>
                <nestedField>
                    <fieldName>arguments</fieldName>
                    <providers>
                        <arguments/>
                    </providers>
                </nestedField>
            </providers>
        </encoder>
    </appender>

    <root level="${loggingLevelRoot}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
